<div id= "page_wrapper">
  <div id="profile_image">


</div>
<div id= "content">
  <h1><center>G'Day</center></h1>
  <center> <%= image_tag "http://i.giphy.com/13iyVZfJzr2Jq0.gif" %></center>
  <h2><center>I am Azizah who currently is taking a back seat from climbing the corporate ladder. Recently, I am retreating to lying down instead of taking a back seat. <br>

I spend most of my day chasing my kid, watching him smile, unfortunately working to keep the family alive in this expensive Singapore. I am an accidental mum who has learnt a lot about parenting and much recently, coding. I have watch videos on coding since 2012 but never really tried my hand on it. <br>

    While I love HTML, CSS was my enemy. But all is not lost cause I am still learning and aim to deploy my own app one day.</center></h2>





  </div>